In [95]:
import numpy as np
import pandas as pd
from collections import Counter
from datetime import datetime
import itertools as it

In [120]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013
39,tt1618442,90000000,140396650,The Last Witch Hunter,Vin Diesel|Rose Leslie|Michael Caine|Elijah Wo...,Breck Eisner,Hunt forever.,"The modern world holds many secrets, but by fa...",106,Fantasy|Action|Adventure,Summit Entertainment|Atmosphere Entertainment ...,10/21/2015,5.6,2015
709,tt1213644,25000000,14109284,Disaster Movie,Matt Lanter|Vanessa Lachey|Nicole Ari Parker|C...,Jason Friedberg|Aaron Seltzer,Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,Action|Comedy,Grosvenor Park Media Ltd.|LionsGate|3 in the Box,8/29/2008,3.3,2008
710,tt1046163,20000000,36620508,My Best Friend's Girl,Dane Cook|Kate Hudson|Alec Baldwin|Jason Biggs...,Howard Deutch,It's funny what love can make you do...,"When Dustin's girlfriend, Alexis, breaks up wi...",101,Comedy,Lionsgate|New Wave Entertainment|Management 36...,9/19/2008,5.3,2008
243,tt1049413,175000000,731342744,Up,Ed Asner|Christopher Plummer|Jordan Nagai|Bob ...,Bob Peterson|Pete Docter,Fly Up to Venezuela,After a lifetime of dreaming of traveling the ...,96,Animation|Comedy|Family|Adventure,Walt Disney Pictures|Pixar Animation Studios,5/13/2009,7.6,2009

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [110]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] #создаем отдельный столбик для подсчета прибыли

def release_month(date):
    """Функция выделяет номер месяца из даты, заданной в формате mm/dd/yyyy"""
    n = date.index('/')
    return (date[:n])

def remove_simbols(data_, column):
    """Функция разбивает строку с элементами, разделенными символом  '|', на отдельные строки"""
    data_ = data_[column].str.cat(sep='|') # превращаем все в одну строку
    data_ = pd.Series(data_.split('|')) # создаем список разделяя строку по '|'
    return data_

# 1. У какого фильма из списка самый большой бюджет?

In [8]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [123]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [11]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из  фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [13]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'

In [15]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '1. 107'

In [17]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = '5. Avatar (tt0499549)'

In [19]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [21]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У  скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1. 1478'

In [23]:
data[data.revenue > data.budget].count()[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [28]:
data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [30]:
loss = data[(2012<=data.release_year)&(data.release_year<=2014)].profit.min()
data[data.profit == loss].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = '3. Drama'

### Вариант 1 - с использованием pandas.DataFrame.explode

In [32]:
data.genres.str.split('|').explode().mode()

0    Drama
dtype: object

### Вариант 2 - без использования pandas.DataFrame.explode

In [90]:
data_11 = data.copy()
remove_simbols(data_11,'genres').mode()

0    Drama
dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [34]:
answers['12'] = '1. Drama'

### Вариант 1 - с использованием pandas.DataFrame.explode

In [35]:
data[data.profit>0].genres.str.split('|').explode().mode()

0    Drama
dtype: object

### Вариант 2 - без использования pandas.DataFrame.explode

In [92]:
data_12 = data[data.profit > 0]
remove_simbols(data_12,'genres').mode()

0    Drama
dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [46]:
answers['13'] = '5. Peter Jackson'

In [47]:
data_13 = data.copy()
data_13.director = data_13.director.str.split('|')
data_13 = data_13.explode('director').groupby('director').sum()
data_13[data_13.revenue == data_13.revenue.max()].index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
answers['14'] = '3. Robert Rodriguez'

### Вариант 1 - с использованием pandas.DataFrame.explode

In [42]:
data[data.genres.str.contains("Action")].director.str.split('|').explode().mode()

0    Robert Rodriguez
dtype: object

### Вариант 2 - без использования pandas.DataFrame.explode

In [93]:
data_14 = data[data.genres.str.contains("Action")]
remove_simbols(data_14,'director').mode()

0    Robert Rodriguez
dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [50]:
answers['15'] = '3. Chris Hemsworth'

In [51]:
data_15 = data.copy()
data_15 = data_15[data_15.release_year == 2012]
data_15.cast = data_15.cast.str.split('|')
data_15 = data_15.explode('cast').groupby('cast').sum()
data_15[data_15.revenue == data_15.revenue.max()].index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
answers['16'] = '3. Matt Damon'

In [53]:
data[data.budget>data.budget.mean()].cast.str.split('|').explode().mode()

0    Matt Damon
dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [54]:
answers['17'] = '2. Action'

### Вариант 1 - с использованием pandas.DataFrame.explode

In [55]:
data[data.cast.str.contains("Nicolas Cage")].genres.str.split('|').explode().mode()

0    Action
dtype: object

### Вариант 2 - без использования pandas.DataFrame.explode

In [94]:
data_17 = data[data.cast.str.contains("Nicolas Cage")]
remove_simbols(data_17,'genres').mode()

0    Action
dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [58]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [59]:
data_18 = data[data.production_companies.str.contains("Paramount Pictures")]
data_18[data_18.profit == data_18.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [60]:
answers['19'] = '5. 2015'

In [61]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [62]:
answers['20'] = '1. 2014'

In [63]:
data_20 = data[data.production_companies.str.contains("Warner Bros")]
data_20.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [64]:
answers['21'] = '4. Сентябрь'

### Вариант 1 - без перевода строки в формат даты

In [111]:
data_21 = data.copy()
data_21['release_month'] = data.release_date.apply(release_month)
data_21 = data_21.value_counts('release_month')
data_21.index[0]

'9'

### Вариант 2 - с переводом строки в формат даты

In [156]:
data_21_2 = data.copy()
data_21_2['release_date'] = pd.to_datetime(data_21_2['release_date'])
data_21_2.release_date.dt.month.value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [66]:
answers['22'] = '2. 450'

In [67]:
int(data_21['6'])+int(data_21['7'])+int(data_21['8'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [70]:
answers['23'] = '5. Peter Jackson'

### Вариант 1 - без перевода строки в формат даты

In [116]:
data_23 = data.copy()
data_23['release_month'] = data.release_date.apply(release_month)
data_23[data_23.release_month.isin(['1','2','12'])].director.str.split('|').explode().mode()

0    Peter Jackson
dtype: object

### Вариант 2 - с переводом строки в формат даты

In [118]:
data_23_2 = data.copy()
data_23_2['release_date'] = pd.to_datetime(data_23_2['release_date'])
data_23_2[data_23_2.release_date.dt.month.isin([1, 2, 12])].director.str.split('|').explode().mode()

0    Peter Jackson
dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [71]:
answers['24'] = '5. Four By Two Productions'

In [72]:
data_24 = data.copy()
data_24['len_original_title'] = data_24.original_title.apply(lambda x: len(x))
data_24.production_companies = data_24.production_companies.str.split('|')
data_24 = data_24.explode('production_companies').groupby('production_companies').mean().sort_values('len_original_title', ascending=False)
data_24.index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [73]:
answers['25'] = '3. Midnight Picture Show'

In [74]:
data_25 = data.copy()
data_25['len_overview'] = data_25.overview.apply(lambda x: len(x))
data_25.production_companies = data_25.production_companies.str.split('|')
data_25 = data_25.explode('production_companies').groupby('production_companies').mean().sort_values('len_overview', ascending=False)
data_25.index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [75]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [76]:
data_26 = data[data.vote_average >= np.percentile(data.vote_average, 99)].original_title

if ('Inside Out' in str(data_26)) and ('The Dark Knight'in str(data_26)) and ('12 Years a Slave' in str(data_26)):
    print('answer 1')
if ('BloodRayne' in str(data_26)) and ('The Adventures of Rocky' in str(data_26)) and ('Bullwinkle' in str(data_26)):
    print('answer 2')
if ('Batman Begins' in str(data_26)) and ('The Lord of the Rings: The Return of the King' in str(data_26)) and ('Upside Down' in str(data_26)):
    print('answer 3')
if ('300' in str(data_26)) and ('Lucky Number Slevin' in str(data_26)) and ('Kill Bill: Vol. 1' in str(data_26)):
    print('answer 4')
if ('Upside Down' in str(data_26)) and ('Inside Out' in str(data_26)) and ('Iron Man' in str(data_26)):
    print('answer 3')

data_26

answer 1

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [77]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [138]:
data_27 = data.copy()
data_27.cast = data_27.cast.str.split('|')
data_27.cast = data_27.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))
data_27 = data_27.explode('cast')
data_27.cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

# Submission

In [79]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [80]:
# и убедиться, что ничего не пропустил
len(answers)

27