In [392]:
import numpy as np
import pandas as pd
from collections import Counter
import itertools as it

In [393]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1210,tt1538403,60000000,90565421,The Mortal Instruments: City of Bones,Lily Collins|Jamie Campbell Bower|Kevin Zegers...,Harald Zwart,You have been chosen,"In New York City, Clary Fray, a seemingly ordi...",130,Action|Adventure|Drama|Mystery|Romance,Constantin Film Produktion|Don Carmody Product...,8/21/2013,6.2,2013
1058,tt1535438,30000000,114281051,Hope Springs,Meryl Streep|Steve Carell|Tommy Lee Jones|Jean...,David Frankel,"Sometimes to keep the magic, you need to learn...","After thirty years of marriage, a middle-aged ...",100,Drama|Comedy|Romance,Columbia Pictures|Mandate Pictures|Escape Arti...,8/7/2012,5.6,2012
600,tt0910970,180000000,521311860,WALLÂ·E,Ben Burtt|Elissa Knight|Jeff Garlin|Fred Willa...,Andrew Stanton,An adventure beyond the ordinar-E.,WALLÂ·E is the last robot left on an Earth tha...,98,Animation|Family,Walt Disney Pictures|Pixar Animation Studios,6/22/2008,7.6,2008
979,tt0948470,215000000,752215857,The Amazing Spider-Man,Andrew Garfield|Emma Stone|Rhys Ifans|Denis Le...,Marc Webb,The untold story begins.,Peter Parker is an outcast high schooler was a...,136,Action|Adventure|Fantasy,Columbia Pictures|Laura Ziskin Productions|Mar...,6/27/2012,6.4,2012
1311,tt1966566,30000000,68129518,Ð¡Ñ‚Ð°Ð»Ð¸Ð½Ð³Ñ€Ð°Ð´,Thomas Kretschmann|Yanina Studilina|Philippe R...,Fyodor Bondarchuk,The Epic Battle That Turned The Tide Of World ...,"Drama set in 1942, during one of the most impo...",131,War|Action,Art Pictures Studio,10/9/2013,5.5,2013

In [394]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [395]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] #создаем отдельный столбик для подсчета прибыли
data.sample(5)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
def release_mounth(date):
    n = date.index('/')
    return (date[:n])

# 1. У какого фильма из списка самый большой бюджет?

In [396]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [217]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [18]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [17]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из  фильмов самый короткий (в минутах)?

In [21]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [19]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [189]:
answers['4'] = '2. 110'

In [24]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [190]:
answers['5'] = '1. 107'

In [25]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [191]:
answers['6'] = '5. Avatar (tt0499549)'

In [29]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [192]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [32]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У  скольких фильмов из датасета объем сборов оказался выше бюджета?

In [193]:
answers['8'] = '1. 1478'

In [278]:
data[data.revenue > data.budget].count()[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [194]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [38]:
revenue2008 = data[data.release_year == 2008].revenue.max()
data[data.revenue == revenue2008].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [219]:
bad_profit = data[(2012<=data.release_year)&(data.release_year<=2014)].profit.min()
data[data.profit == bad_profit].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = '3. Drama'

In [220]:
data.genres.str.split('|').explode().mode()

0    Drama
dtype: object

ВАРИАНТ 2

In [222]:
data_genres = data['genres'].str.cat(sep='|') # превращаем все в одну строку
data_genres = pd.Series(data_genres.split('|')) # создаем список разделяя строку по '|'
data_genres = data_genres.value_counts(ascending=False)
data_genres.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = '1. Drama'

In [212]:
data_profit = data[data.profit > 0]
data_profit_genres = data_profit['genres'].str.cat(sep='|') # превращаем все в одну строку
data_profit_genres = pd.Series(data_profit_genres.split('|')) # создаем список разделяя строку по '|'
data_profit_genres = data_profit_genres.value_counts(ascending=False)
data_profit_genres.index[0]

'Drama'

In [223]:
data[data.profit>0].genres.str.split('|').explode().mode()

0    Drama
dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = '5. Peter Jackson'

In [275]:
data_dir = data.copy()
data_dir.director = data_dir.director.str.split('|')
data_dir = data_dir.explode('director').groupby('director').sum()
data_dir[data_dir.revenue == data_dir.revenue.max()].index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = '3. Robert Rodriguez'

In [224]:
data_tmp = data[data.genres.str.contains("Action")]
data_tmp=data_tmp['director'].str.cat(sep='|') # превращаем все в одну строку
data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
data_tmp.index[0]

'Robert Rodriguez'

In [36]:
data[data.genres.str.contains("Action")].director.str.split('|').explode().mode()

0    Robert Rodriguez
dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = '3. Chris Hemsworth'

In [231]:
data_2012 = data.copy()
data_2012 = data_2012[data_2012.release_year == 2012]
data_2012.cast = data_2012.cast.str.split('|')
data_2012 = data_2012.explode('cast').groupby('cast').sum()
data_2012[data_2012.revenue == data_2012.revenue.max()].index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = '3. Matt Damon'

In [43]:
data[data.budget>data.budget.mean()].cast.str.split('|').explode().mode()

0    Matt Damon
dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = '2. Action'

In [226]:
data_Cage = data[data.cast.str.contains("Nicolas Cage")]
data_Cage=data_Cage['genres'].str.cat(sep='|') # превращаем все в одну строку
data_Cage=pd.Series(data_Cage.split('|')) # создаем список разделяя строку по '|'
data_Cage=data_Cage.value_counts(ascending=False) # считаем количество элементов строке
data_Cage.index[0]

'Action'

In [38]:
data[data.cast.str.contains("Nicolas Cage")].genres.str.split('|').explode().mode()

0    Action
dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [28]:
data_Paramount = data[data.production_companies.str.contains("Paramount Pictures")]
data_Paramount[data_Paramount.profit == data_Paramount.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '5. 2015'

In [227]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '1. 2014'

In [228]:
data_WB = data[data.production_companies.str.contains("Warner Bros")]
data_WB.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [229]:
data_21 = data.copy()
data_21['release_mounth'] = data.release_date.apply(release_mounth)
data_21 = data_21.value_counts('release_mounth')
data_21.index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [141]:
int(data_21['6'])+int(data_21['7'])+int(data_21['8'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [156]:
data_23 = data.copy()
data_23['release_mounth'] = data.release_date.apply(release_mounth)
data_23 = data_23[(data_23.release_mounth == '1') | (data_23.release_mounth == '2') | (data_23.release_mounth == '12')]
data_23.director.str.split('|').explode().mode()

0    Peter Jackson
dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [270]:
data_24 = data.copy()
data_24['len_original_title'] = data_24.original_title.apply(lambda x: len(x))
data_24.production_companies = data_24.production_companies.str.split('|')
data_24 = data_24.explode('production_companies').groupby('production_companies').mean().sort_values('len_original_title', ascending=False)
data_24.index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [374]:
data_25 = data.copy()
data_25['len_overview'] = data_25.overview.apply(lambda x: len(x))
data_25.production_companies = data_25.production_companies.str.split('|')
data_25 = data_25.explode('production_companies').groupby('production_companies').mean().sort_values('len_overview', ascending=False)
data_25.index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [398]:
data_26 = data[data.vote_average >= np.percentile(data.vote_average, 99)].original_title

if ('Inside Out' in str(data_26)) and ('The Dark Knight'in str(data_26)) and ('12 Years a Slave' in str(data_26)):
    print('answer 1')
if ('BloodRayne' in str(data_26)) and ('The Adventures of Rocky' in str(data_26)) and ('Bullwinkle' in str(data_26)):
    print('answer 2')
if ('Batman Begins' in str(data_26)) and ('The Lord of the Rings: The Return of the King' in str(data_26)) and ('Upside Down' in str(data_26)):
    print('answer 3')
if ('300' in str(data_26)) and ('Lucky Number Slevin' in str(data_26)) and ('Kill Bill: Vol. 1' in str(data_26)):
    print('answer 4')
if ('Upside Down' in str(data_26)) and ('Inside Out' in str(data_26)) and ('Iron Man' in str(data_26)):
    print('answer 3')

data_26

answer 1

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [391]:
data_27 = data.copy()
data_27.cast = data_27.cast.str.split('|')
data_27.cast = data_27.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))
data_27 = data_27.explode('cast')
data_27.cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

# Submission

In [280]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{}

In [281]:
# и убедиться что ни чего не пропустил)
len(answers)

0